@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<div class="widget-body">
    <div id="wizard" class="wizard" data-target="#wizard-steps" style="border-left: none; border-top: none; border-right: none;">
        <ul class="steps">
            <li data-target="#step-1" class="active"><span class="step">1</span>收文紀錄<span class="chevron"></span></li>
            <li data-target="#step-2"><span class="step">2</span>附加檔案<span class="chevron"></span></li>
        </ul>
    </div>

    <div class="step-content" id="wizard-steps" style="border-left: none; border-bottom: none; border-right: none;">
        
        <div class="step-pane active" id="step-1" style="margin: 10px; margin-bottom: 0px;">
            <div class="alert alert-danger" style="text-align: left; margin-bottom: 10px;">
                <i class="fa fa-warning alert-dismissible" style="position: relative; top: 1px; font-size: 15px; padding-right: 5px;"></i>
                請填寫收文紀錄，用於新建或修改收文資訊！
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">表單內容</h3>
                </div>
                <div class="panel-body" style="width: 98%;">
                    <form id="form1">
                        <table class="form">
                            <tr>
                                <th class="formTitle">收文編號</th>
                                <td class="formValue">
                                    <input id="RECEIVEID" name="RECEIVEID" type="text" class="form-control" placeholder="自動產生收文編號" readonly="readonly" />
                                    <input id="GUID" name="GUID" type="hidden" value="" />
                                    <input id="AttachFIle" name="AttachFIle" type="hidden" value="" />

                                </td>
                                <th class="formTitle">收文日期</th>
                                <td class="formValue">
                                    <input id="RECEDATE" name="RECEDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                                </td>
                                <th class="formTitle">狀態</th>
                                <td class="formValue">
                                    <select id="STATUS" name="STATUS" class="form-control required">
                                        <option value="CF">已登錄</option>
                                        <option value="NL">作廢</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">發文機關</th>
                                <td class="formValue">
                                    <input id="OFFICIAL_NM" name="OFFICIAL_NM" type="text" class="form-control required" placeholder="請輸入發文部門" />
                                </td>
                                <th class="formTitle">發文字號</th>
                                <td class="formValue">
                                    <input id="OFFICIAL_DOCID" name="OFFICIAL_DOCID" type="text" class="form-control required" placeholder="請輸入發文字號" />
                                </td>
                                <th class="formTitle">文別</th>
                                <td class="formValue">
                                    <input id="OFFICIAL_DOCTYPE" name="OFFICIAL_DOCTYPE" type="text" class="form-control required" placeholder="請輸入文別" />
                                </td>
                            </tr>
                            <tr>
                                <th class="formTitle">簽收公司</th>
                                <td class="formValue">
                                    <select id="COMID" name="COMID" class="form-control required">
                                        <option value="CCM">精湛光學</option>
                                        <option value="CPA">高雄全盈</option>
                                        <option value="YPA">桃園全盈</option>
                                        <option value="CCS">精準緊固件</option>
                                        <option value="CCF">教育基金會</option>
                                    </select>
                                    
                                </td>  
                                <th class="formTitle">簽收部門</th>
                                <td class="formValue">
                                    <select id="DEPID" name="DEPID" class="form-control required" >
                                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptId">@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptName</option>
                                    </select>
                                </td>
                                <th class="formTitle">簽收人員</th>
                                <td class="formValue">
                                    <select id="EMPID" name="EMPID" class="form-control required">
                                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().UserCode">@CCM.Code.OperatorProvider.Provider.GetCurrent().UserName</option>
                                    </select>
                                   
                                </td>

                            </tr>
                            <tr>
                                <th class="formTitle" valign="top" style="padding-top: 5px;">
                                    事由
                                </th>
                                <td class="formValue" colspan="5">
                                    <textarea id="DESCR" name="DESCR" class="form-control required" style="height: 100px;"></textarea>
                                </td>
                            </tr>
                            
                        </table>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="step-pane" id="step-2" style="margin: 5px; margin-bottom: 0px;">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">將圖片拖曳至底下方框</h3>
                </div>
                <div class="panel-body" style="width: 98%;">
                    <h5>(同時可上傳50個檔案,各檔不可超過10mb,支援格式.pdf,.doc,.xls,.jpg,.png,.gif,.bmp,.tif)</h5>
                    <form action="/"
                          class="dropzone needsclick formstyle"
                          enctype="multipart/form-data"
                          id="my-dropzone"
                          method="post">
                        <div class="dz-message data-dz-message"><span>拖拉檔案至此，或點擊此區塊開窗選擇檔案</span></div>
                        <!--上傳圖片時，需要同時提交的數據，在這裡作設定-->
                        @Html.Hidden("hidAlbumId")
                    </form>
                    <div>
                        <!--上傳按鈕，提供多張圖片一次性上傳的功能-->
                        <button type="submit" id="submit-all" disabled="disabled" class="btn btn-danger">上傳</button>
                    </div>

                    <!-- Dialog -->
                    <div id="mydialog" title="上傳作業">
                        <p id="message"> 上傳作業完成。</p>
                    </div>


                </div>

            </div>

            <div>
                <table id="grid-attachfile" class="table table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th data-column-id="SID" data-width="20%" data-visible="false">序號</th>
                            <th data-column-id="Name" data-width="50%">檔名</th>
                            <th data-column-id="commands" data-width="20%" data-formatter="commands" data-sortable="false">執行</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="form-button" id="wizard-actions">
        <a id="btn_last" disabled class="btn btn-default btn-prev">上一步</a>
        <a id="btn_next" class="btn btn-default btn-next">下一步</a>
        <a id="btn_finish" class="btn btn-default" style="display: none;" onclick="submitForm()">完成</a>
    </div>
</div>


<link href="~/Content/js/dropzone/dropzone.css" rel="stylesheet" />
<script src="~/Content/js/dropzone/dropzone.js"></script>
<link href="~/Content/js/bootgrid/jquery.bootgrid.min.css" rel="stylesheet" />
<script src="~/Content/js/bootgrid/jquery.bootgrid.min.js"></script>
<script>
    var parentID = $('input[name=GUID]').val();
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        // 編輯模式
        if (!!keyValue) {
            $.ajax({
                url: "/Document/DOC03/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
            parentID = $('input[name=GUID]').val();

            $("#RECEIVEID").prop('disabled', true);

        } else {
            // 新建模式,取得GUID作為附件檔案使用
            $('input[name="GUID"]').val(GetNow() + '-' + GetGuid());
            parentID = $('input[name=GUID]').val();
        }
        //初始化DropZone
        initDropZone();

        //初始化BootGrid
        InitBootGrid();

    });

    // 初始化控制項
    function initControl() {
        $("#F_OrganizeId").bindSelect({
            url: "/SystemManage/Organize/GetTreeSelectJson",
        });
        // 部門
        $("#DEPID").bindSelect({
            url: "/Human/HRS00/GetHR_DEP",
            id: "DEPID",
            text: "DEPNM"
        });
        // 員工
        $("#EMPID").bindSelect({
            url: "/Human/HRS00/GetHR_EMPLY",
            id: "EMPLYID",
            text: "EMPLYNM"
        });

        $('#wizard').wizard().on('change', function (e, data) {
            var $finish = $("#btn_finish");
            var $next = $("#btn_next");
            if (data.direction == "next") {
                switch (data.step) {
                    case 1:
                        if (!$('#form1').formValid()) {
                            return false;
                        }
                        $finish.show();
                        $next.hide();
                        break;
                    default:
                        break;
                }
            } else {
                $finish.hide();
                $next.show();
            }
        });
    }

    // 更新作業
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        // 判斷是否有附件
        IfHasFile();
        $("RECEIVEID").prop("disabled", false);
        $.submitForm({
            url: "/Document/DOC03/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    //更新是否有附件欄位
    function IfHasFile() {
        $('#grid-attachfile').bootgrid('reload');
        var totalcount = $("#grid-attachfile").bootgrid("getTotalRowCount");
        //alert(totalcount);
        if (totalcount > 0) {
            $("#AttachFIle").val('Y');
        } else {
            $("#AttachFIle").val('N');
        }
    }

    // 初始化上傳區塊 dropzone
    function initDropZone() {
        //Dropzone的初始化，myDropzone為form的id
        Dropzone.options.myDropzone = {

            //指定上傳圖片的路徑
            url: "/Document/DOC03/BatchUpload?guid=" + parentID,
            maxFiles: 50,
            acceptedFiles: ".pdf,.doc,.xls,.jpg,.png,.gif,.bmp,.tif",
            //添加上傳取消和刪除預覽圖片的鏈結，默認不添加
            addRemoveLinks: true,

            //關閉自動上傳功能，默認ture會自動上傳
            //也就是添加一張圖片就像主機發出請求
            autoProcessQueue: false,

            //允許上傳多張照片
            uploadMultiple: true,

            //每次上傳的最多文件數，預設2 ，記得修改 web.config限制上傳文件大小的段落
            parallelUploads: 10240,

            init: function () {
                var submitButton = document.querySelector("#submit-all")
                myDropzone = this; // closure

                //位上傳按鈕添加點擊事件
                submitButton.addEventListener("click", function () {

                    //手動上傳所有圖片
                    myDropzone.processQueue();
                });

                //當添加圖片後的事件，上傳按鈕恢復可用
                this.on("addedfile", function () {
                    $("#submit-all").removeAttr("disabled");
                });

                //當上傳完成後的事件，接受JSON格式
                this.on("complete", function (data) {
                    if (this.getUploadingFiles().length === 0 && this.getQueuedFiles().length === 0) {
                        //var res = eval('(' + data.xhr.responseText + ')');
                        var res = JSON.parse(data.xhr.responseText);
                        var msg;
                        if (res.Result) {
                            msg = "已成功上傳" + res.Count + "個檔案！";
                            window.setTimeout(function () {
                                $.modalMsg(msg, "success");
                            }, 500);
                            
                        }
                        else {
                            msg = "上傳失敗，原因：" + res.Message;
                            window.setTimeout(function () {
                                $.modalMsg(msg, "error");
                            }, 500);
                        }
                        
                        //重新整理附件列表
                        $('#grid-attachfile').bootgrid('reload');
                    }
                });

                //刪除圖片的事件，當上傳的圖片為空時，使上傳按鈕不可用
                this.on("removedfile", function () {
                    if (this.getAcceptedFiles().length === 0) {
                        $("#submit-all").attr("disabled", true);
                    }
                });
            }
        };
    }

    // 初始化附件列表
    function InitBootGrid() {
        var vhost = '@Request.Url.Host';
        var vport = '@Request.Url.Port';
        if(vport!=80){
            vport=':@Request.Url.Port';
        }
        var pathlink = 'http://' + vhost + vport + '/';

        // BootGrid test
        $("#grid-attachfile").on("load.rs.jquery.bootgrid", function () {
            //alert('before load data');
        }).bootgrid({
            ajax: true,
            ajaxSettings: {
                method: "GET",
                cache: false
            },
            templates: {
                search: ""
            },
            labels: {
                noResults: "無任何附件",
                //infos: '顯示 {{ctx.start}} 到 {{ctx.end}} 筆，總共 {{ctx.total}} 筆'
            },
            rowCount: -1,
            post: function () {
                /* To accumulate custom parameter with the request object */
                return {
                    id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                };
            },
            url: '/Document/DOC04/GetGridJsonUpload?keyword=' + parentID,
            formatters: {
                "link": function (column, row) {
                    return "<a href='" + pathlink + row.UploadPath + "' target='_blank'> Download : " + row.Name + "</a>";
                },
                "commands": function (column, row) {
                    return "<button type=\"button\" class=\"btn btn-xs btn-default command-link\" data-row-id=\"" + row.UploadPath + "\"><span class=\"fa fa-link\"></span></button> " +
                        "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.SID + "\"><span class=\"fa fa-trash-o\"></span></button>";
                }
            }
        }).on("loaded.rs.jquery.bootgrid", function()
        {

            //alert('after load data');
            /* Executes after data is loaded and rendered */
            $("#grid-attachfile").find(".command-link").on("click", function (e)
            {
                // 開啟檔案連結
                window.open(pathlink + $(this).data("row-id"), '_blank');
            }).end().find(".command-delete").on("click", function(e)
            {
                // 刪除檔案
                $.ajax({
                    type: "POST",
                    url: "/Document/DOC03/DeleteFile" ,
                    data: { keyValue: $(this).data("row-id") },
                    dataType: "json",
                    async: true,
                    success: function (res) {
                        //alert('SUCCESS:刪除作業完成!');
                        $('#grid-attachfile').bootgrid('reload');
                        var msg;
                        if (res.Result) {
                            msg = "已成功刪除" + res.Count + "個檔案！";
                            window.setTimeout(function () {
                                $.modalMsg(msg, "success");
                            }, 500);
                            //重新整理附件列表
                            $('#grid-attachfile').bootgrid('reload');
                            
                        }
                        else {
                            msg = "刪除失敗，原因：" + res.Message;
                            window.setTimeout(function () {
                                $.modalMsg(msg, "error");
                            }, 500);
                        }

                    },
                    failure: function (errMsg) {
                        //msg ='刪除作業出現錯誤!';
                        window.setTimeout(function () {
                            $.modalMsg(errMsg, "error");
                        }, 500);
                    }
                });
            });
        });

    }

</script>