@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/js/bootgrid/jquery.bootgrid.min.css" rel="stylesheet" />
<script src="~/Content/js/bootgrid/jquery.bootgrid.min.js"></script>
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        $.ajax({
            url: "/WorkflowControl/WFC05/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                $("#form1").find('.form-control,select,input').attr('disabled', 'disabled');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
        // 初始化簽核途程列表
        InitBootGrid();
    });
    function initControl() {
        // 部門
        $("#DEPID").bindSelect({
            url: "/Human/HRS00/GetHR_DEP",
            id: "DEPID",
            text: "DEPNM"
        });
        // 部門
        $("#DEPIDAPP").bindSelect({
            url: "/Human/HRS00/GetHR_DEP",
            id: "DEPID",
            text: "DEPNM"
        });
        // 員工
        $("#EMPLYID").bindSelect({
            url: "/Human/HRS00/GetHR_EMPLY_ALL",
            id: "EMPLYID",
            text: "EMPLYNM"
        });
        // 員工
        $("#EXC_INSDBID").bindSelect({
            url: "/Human/HRS00/GetHR_EMPLY_ALL",
            id: "EMPLYID",
            text: "EMPLYNM"
        });

        // 員工 by 部門
        $("#EMPLYID").bindSelect({
            url: "/Human/HRS00/GetHR_EMPLY_ALL?keyword=" + $('#DEPID').children('option:selected').val(),
            id: "EMPLYID",
            text: "EMPLYNM"
        });
    }

    // 初始化簽核途程列表
    function InitBootGrid() {
        var vhost = '@Request.Url.Host';
        var vport = '@Request.Url.Port';
        if (vport != 80) {
            vport = ':@Request.Url.Port';
        }
        var pathlink = 'http://' + vhost + vport + '/';

        // BootGrid test
        $("#grid-signroute").on("load.rs.jquery.bootgrid", function () {
            //alert('before load data');
        }).bootgrid({
            ajax: true,
            ajaxSettings: {
                method: "GET",
                cache: false
            },
            templates: {
                search: ""
            },
            labels: {
                noResults: "無任何資料",
                infos: '顯示 {{ctx.start}} 到 {{ctx.end}} 筆，總共 {{ctx.total}} 筆'
            },
            rowCount: -1,
            post: function () {
                /* To accumulate custom parameter with the request object */
                return {
                    id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                };
            },
            url: '/WorkflowControl/WFC00/getSignList?keyValue=' + keyValue,
            formatters: {

            }
        })

    }
</script>

<form id="form1">
    <input id="SID" name="SID" type="hidden" value="" />
    <input id="SortCode" name="SortCode" type="hidden" value="" />
    <input id="WhoCanSee" name="WhoCanSee" type="hidden" value="全部" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            @*<tr>
                    <th class="formTitle">COL_SAMPLE</th>
                    <td class="formValue">
                        <input id="COL_SAMPLE" name="COL_SAMPLE" type="text" class="form-control required" placeholder="請輸入標題" />
                        <select id="COL_SAMPLE" name="COL_SAMPLE" class="form-control required"></select>
                        <input id="GUID" name="GUID" type="hidden" value="" />
                    </td>

                </tr>*@

            <tr>
                <th class="formTitle">標題</th>
                <td class="formValue" colspan="3">
                    <input id="BUSubject" name="BUSubject" type="text" class="form-control required" placeholder="請輸入標題" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">公佈內容</th>
                <td class="formValue" colspan="3">
                    <textarea id="BUContent" name="BUContent" class="form-control required" style="height: 50px;"></textarea>
                </td>
            </tr>
            <tr>
                <th class="formTitle">開始日期</th>
                <td class="formValue">
                    <input id="StartDate" name="StartDate" type="text" class="form-control input-wdatepicker required" onchange="setbacktime()"
                           onfocus="WdatePicker({ startDate: '%y/%M/%d %H:%m', dateFmt: 'yyyy/MM/dd HH:mm', alwaysUseStartDate: true })" placeholder="請輸入開始時間" />
                </td>
                <th class="formTitle">結束日期</th>
                <td class="formValue">
                    <input id="EndDate" name="EndDate" type="text" class="form-control input-wdatepicker required" onchange="setbacktime()"
                           onfocus="WdatePicker({ startDate: '%y/%M/%d %H:%m', dateFmt: 'yyyy/MM/dd HH:mm', alwaysUseStartDate: true })" placeholder="請輸入結束時間" />
                </td>
            </tr>
            <tr></tr>
            <tr>
                <th class="formTitle">發佈部門</th>
                <td class="formValue">
                    <select id="DepartmentID" name="DepartmentID" class="form-control required">
                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptId">@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptName</option>
                    </select>
                </td>
                <th class="formTitle">發佈人員</th>
                <td class="formValue">
                    <select id="EmployeeID" name="EmployeeID" class="form-control required" onchange="getSFTNO()">
                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().UserCode">@CCM.Code.OperatorProvider.Provider.GetCurrent().UserName</option>
                    </select>
                </td>
            </tr>
            <tr></tr>
            <tr></tr>

        </table>
    </div>
</form>