
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script>
    var keyValue = $.request("keyValue");
    $(function () {
        initControl();
        if (!!keyValue) {
            $.ajax({
                url: "/PublicObject/PUB04/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    function initControl() {
        // 部門
        $("#DepartmentID").bindSelect({
            url: "/Human/HRS00/GetHR_DEP",
            id: "DEPID",
            text: "DEPNM"
        });

        // 員工 by 部門
        $("#EmployeeID").bindSelect({
            url: "/Human/HRS00/GetHR_EMPLY_ALL",
            id: "EMPLYID",
            text: "EMPLYNM"
        });

        // 部門
        $("#ReplyDepartmentID").bindSelect({
            url: "/Human/HRS00/GetHR_DEP",
            id: "DEPID",
            text: "DEPNM"
        });

        // 員工 by 部門
        $("#ReplyEmployeeID").bindSelect({
            url: "/Human/HRS00/GetHR_EMPLY_ALL",
            id: "EMPLYID",
            text: "EMPLYNM"
        });
    }
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        $.submitForm({
            url: "/PublicObject/PUB04/SubmitForm?keyValue=" + keyValue,
            param: $("#form1").formSerialize(),
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }

    $(document).ready(function () {

        $('#DepartmentID').change(function () {
            // 員工 by 部門
            $("#EmployeeID").empty().bindSelect({
                url: "/Human/HRS00/GetHR_EMPLY?keyword=" + $(this).children('option:selected').val(),
                id: "EMPLYID",
                text: "EMPLYNM"
            });
        });
    });
</script>

<form id="form1">
    <input id="SID" name="SID" type="hidden" value="" />
    <input id="GUID" name="GUID" type="hidden" value="" />
    <input id="WhoCanSee" name="WhoCanSee" type="hidden" value=""  />
   
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form"> 
            <tr>
                <th class="formTitle">反應部門</th>
                <td class="formValue">
                    <select id="DepartmentID" name="DepartmentID" class="form-control required" disabled="disabled">
                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptId">@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptName</option>
                    </select>
                </td>
                <th class="formTitle">反應人員</th>
                <td class="formValue">
                    <select id="EmployeeID" name="EmployeeID" class="form-control required" disabled="disabled">
                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().UserCode">@CCM.Code.OperatorProvider.Provider.GetCurrent().UserName</option>
                    </select>
                </td>
            </tr> 
            <tr>
                <th class="formTitle">反映類別</th>
                <td class="formValue" colspan="3">
                    <select id="FeedBackType" name="FeedBackType" class="form-control required"  disabled="disabled">
                        <option value="設施維護">設施維護</option>
                        <option value="員工福利">員工福利</option>
                        <option value="生產改進">生產改進</option>
                        <option value="制度辦法">制度辦法</option>
                        <option value="其他意見">其他意見</option>
                    </select>
                   
                </td>
            </tr>
            <tr>
                <th class="formTitle">反應內容</th>
                <td class="formValue" colspan="3">
                    <textarea id="FeedBackContent" name="FeedBackContent" class="form-control required" style="height: 120px;" disabled="disabled"></textarea>
                </td>

            </tr>
            <tr>
                <th class="formTitle">回覆部門</th>
                <td class="formValue">
                    <select id="ReplyDepartmentID" name="ReplyDepartmentID" class="form-control required" disabled="disabled">
                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptId">@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptName</option>
                    </select>
                </td>
                <th class="formTitle">回覆人員</th>
                <td class="formValue">
                    <select id="ReplyEmployeeID" name="ReplyEmployeeID" class="form-control required" disabled="disabled">
                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().UserCode">@CCM.Code.OperatorProvider.Provider.GetCurrent().UserName</option>
                    </select>
                </td>
            </tr> 
            <tr>
                <th class="formTitle">回覆內容</th>
                <td class="formValue" colspan="3">
                    <textarea id="ReplyContent" name="ReplyContent" class="form-control required" style="height: 100px;"></textarea>
                </td>

            </tr>
           
        </table>
    </div>
</form>



