@{
    ViewBag.Title = "Signwith";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/js/bootgrid/jquery.bootgrid.min.css" rel="stylesheet" />
<script src="~/Content/js/bootgrid/jquery.bootgrid.min.js"></script>
<script>
    var keyValue = $.request("keyValue"); //加班單號
    var keyValue1 = $.request("keyValue1"); //途程序號
    $(function () {
        initControl();
        $.ajax({
            url: "/WorkflowControl/WFC06/GetFormJson",
            data: { keyValue: keyValue },
            dataType: "json",
            async: false,
            success: function (data) {
                $("#form1").formSerialize(data);
                //$("#form1").find('.form-control,select,input').attr('disabled', 'disabled');
                $("#form1").find('div.ckbox label').attr('for', '');
            }
        });
        // 初始化簽核途程列表
        InitBootGrid();
        InitBootGrid2();
    });
    function initControl() {
        // 部門
        $("#DEPID").bindSelect({
            url: "/Human/HRS00/GetHR_DEP",
            id: "DEPID",
            text: "DEPNM"
        });
        // 申請加班人員 部門
        $("#DEPIDAPP").bindSelect({
            url: "/Human/HRS00/GetHR_DEP",
            id: "DEPID",
            text: "DEPNM"
        });
        // 申請加班人員
        $("#EMPLYID").bindSelect({
            url: "/Human/HRS00/GetHR_EMPLY_ALL",
            id: "EMPLYID",
            text: "EMPLYNM"
        });
        // 簽核人員
        $("#EXC_INSDBID").bindSelect({
            url: "/Human/HRS00/GetHR_EMPLY_ALL",
            id: "EMPLYID",
            text: "EMPLYNM"
        });

        // 簽核人員 by 部門
        $("#EMPLYID").bindSelect({
            url: "/Human/HRS00/GetHR_EMPLY_ALL?keyword=" + $('#DEPID').children('option:selected').val(),
            id: "EMPLYID",
            text: "EMPLYNM"
        });


        // 會簽主管
        $("#SIGNWITHEMP").bindSelect({
            url: "/Human/HRS00/GetHeads",
            id: "EMPLYID",
            text: "REMARK"
        });
    }

    // 初始化簽核途程列表
    function InitBootGrid() {

        // BootGrid test
        $("#grid-signroute").on("load.rs.jquery.bootgrid", function () {
            //alert('before load data');
        }).bootgrid({
            ajax: true,
            navigation: 0,
            ajaxSettings: {
                method: "GET",
                cache: false
            },
            templates: {
                search: ""
            },
            labels: {
                noResults: "無任何資料",
                infos: '顯示 {{ctx.start}} 到 {{ctx.end}} 筆，總共 {{ctx.total}} 筆'
            },
            rowCount: -1,
            post: function () {
                /* To accumulate custom parameter with the request object */
                return {
                    id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                };
            },
            url: '/WorkflowControl/WFC00/getSignList?keyValue=' + keyValue,
            formatters: {

            }
        })

    }

    // 初始化打卡時間列表
    function InitBootGrid2() {
        var emplyid = $('#EMPLYID').children('option:selected').val();
        var yymmdd = $('input[name=MRDT]').val();

        //alert(emplyid);
        //alert(yymmdd);
        // BootGrid test
        $("#grid-ticket").on("load.rs.jquery.bootgrid", function () {
            //alert('before load data');
        }).bootgrid({
            ajax: true,
            navigation: 0,
            ajaxSettings: {
                method: "GET",
                cache: false
            },
            templates: {
                search: ""
            },
            labels: {
                noResults: "無任何資料",
                infos: '顯示 {{ctx.start}} 到 {{ctx.end}} 筆，總共 {{ctx.total}} 筆'
            },
            rowCount: -1,
            post: function () {
                /* To accumulate custom parameter with the request object */
                return {
                    id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
                };
            },
            url: '/WorkflowControl/WFC07/GetTicketJsonList?emplyid=' + emplyid + '&yymmdd=' + yymmdd,
            formatters: {

            }
        })

    }

    // 會簽
    function btn_signwith() {

        var keyValue = $('#OVRTNO').val();  // 加班單號
        var emplyid = '@CCM.Code.OperatorProvider.Provider.GetCurrent().UserCode'; // 簽核人員
        var emplyidwith = $('#SIGNWITHEMP').children('option:selected').val() // 會簽人員
        if (emplyidwith == '') {
            msg = "請選擇會簽人員!";
            window.setTimeout(function () {
                $.modalMsg(msg, "warning");
            }, 500);
            return;
        }

        $.modalConfirm("注：您確定要送出會簽嗎？", function (r) {
            if (r) {
                $.loading(true, '處理中，請稍候...');
                window.setTimeout(function () {
                    $.ajax({
                        url: "/WorkflowControl/WFC00/SignWith",
                        data: { keyValue: keyValue, emplyid: emplyid, emplyidwith: emplyidwith },
                        type: "get",
                        dataType: "json",
                        success: function (data) {
                            msg = "會簽成功!";
                            // 重整簽核途程  grid-signroute
                            $('#grid-signroute').bootgrid('reload');
                            $.currentWindow().$("#gridList").trigger("reloadGrid");
                            $.modalMsg(msg, 'success');
                            $.modalClose();
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $.loading(false);
                            $.modalMsg(errorThrown, "error");
                        },
                        beforeSend: function () {
                            $.loading(true, '處理中，請稍候...');
                        },
                        complete: function () {
                            $.loading(false);
                        }
                    });
                }, 500);
            }
        });
    }

    // 單筆簽核
    function btn_sign() {
        var keyValue = $('#OVRTNO').val();  // 加班單號
        var reply = $('#REPLY').val(); // 批示

        $.modalConfirm("注：您確定要單筆核准加班單嗎？", function (r) {
            if (r) {
                $.ajax({
                    url: "/WorkflowControl/WFC00/ConfirmSign",
                    data: { signids: keyValue1,reply:reply },
                    dataType: "json",
                    type: "POST",
                    async: false,
                    success: function (data) {
                        msg = "簽核成功!";
                        //window.setTimeout(function () {
                        //    $.modalMsg(msg, "success");
                        //}, 500);
                        // 重整簽核途程  grid-signroute
                        $('#grid-signroute').bootgrid('reload');
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                        $.modalMsg(msg, 'success');
                        $.modalClose();
                    },
                    error: function (data) {
                        msg = "簽核發生異常!";
                        window.setTimeout(function () {
                            $.modalMsg(msg, "warning");
                        }, 500);
                    }
                });
            }
        });
    }

    // 退回加班單
    function rejectSN() {
        var keyValue = $('#OVRTNO').val();  // 加班單號
        var keyValue1 = 'CL'; // 退回 : CL
        //alert('加班單號:' + keyValue + ',ACT:' + keyValue1);
        $.modalConfirm("注：您確定要退回此加班單嗎？", function (r) {
            if (r) {
                $.ajax({
                    url: "/WorkflowControl/WFC00/RejectSign",
                    data: { keyValue: keyValue, act: keyValue1 },
                    dataType: "json",
                    async: false,
                    success: function (data) {
                        msg = "退回成功!";
                        //window.setTimeout(function () {
                        //    $.modalMsg(msg, "success");
                        //}, 500);
                        // 重整簽核途程  grid-signroute
                        $.currentWindow().$("#gridList").trigger("reloadGrid");
                        $.modalMsg(msg, 'success');
                        $.modalClose();
                    },
                    error: function (data) {
                        msg = "退回加班單發生異常!";
                        window.setTimeout(function () {
                            $.modalMsg(msg, "warning");
                        }, 500);
                    }
                });
            }
        });
    }
</script>
<table>
    <tr>
        <td  style="width:60%">
            <table class="form">
                <tr>
                    <th class="formTitle">會簽人員</th>
                    <td class="formValue">
                        <select id="SIGNWITHEMP" name="SIGNWITHEMP" class="form-control required">
                            <option></option>
                        </select>
                    </td>
                    <th class="formValue">
                        <button class="btn btn-success btn-md" onclick="btn_signwith()">會簽</button>
                        <button class="btn btn-danger btn-md" onclick="rejectSN()">退回</button>
                    </th>
                </tr>
                <tr >
                    <th class="formTitle">批示</th>
                    <td class="formValue">
                        <input id="REPLY" name="REPLY" type="text" class="form-control " />
                    </td>
                    <th class="formValue">
                        <button class="btn btn-info btn-md" onclick="btn_sign()">核准</button>
                    </th>
                </tr>
            </table>
        </td>
        <td style="width:40%;background-color:paleturquoise">
            <table id="grid-ticket" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        @*<th data-column-id="C_FUNC" data-width="10%">類別</th>*@
                        <th data-column-id="YYMMDD" data-width="10%">打卡日期</th>
                        <th data-column-id="TKT_HH" data-width="5%">時</th>
                        <th data-column-id="TKT_NN" data-width="5%">分</th>
                        <th data-column-id="COMMAND" data-width="10%"></th>
                    </tr>
                </thead>
            </table>
        </td>
    </tr>
</table>

    <form id="form1">
    <input id="SID" name="SID" type="hidden" />
    <input id="C_SOURCE" name="C_SOURCE" type="hidden" />
    <input id="APPDATE" name="APPDATE" type="hidden" />
    <input id="MRDT" name="MRDT" type="hidden" />
    <input id="OWMON" name="OWMON" type="hidden" />
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">

            <tr>
                <th class="formTitle">加班單號</th>
                <td class="formValue">
                    <input id="OVRTNO" name="OVRTNO" type="text" class="form-control"  readonly="readonly" />
                </td>
                <th class="formTitle">狀態</th>
                <td class="formValue">
                    <select id="STATUS" name="STATUS" class="form-control " disabled="disabled">
                        <option value="OP">未送簽</option>
                        <option value="SN">簽核中</option>
                        <option value="CF">已核准</option>
                        <option value="CL">已退回</option>
                        <option value="NL">已作廢</option>
                        <option value="PB">已撤簽</option>
                    </select>
                </td>
                <th class="formTitle"><span style="color:red">是否用餐?</span></th>
                <td class="formValue">
                    <select id="LNO" name="LNO" class="form-control " disabled="disabled">
                        <option value="0">N</option>
                        <option value="1">Y</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">建立部門</th>
                <td class="formValue">
                    <select id="DEPIDAPP" name="DEPIDAPP" class="form-control " disabled="disabled">
                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptId">@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptName</option>
                    </select>
                </td>
                <th class="formTitle">建立人員</th>
                <td class="formValue">
                    <select id="EXC_INSDBID" name="EXC_INSDBID" class="form-control " disabled="disabled">
                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().UserCode">@CCM.Code.OperatorProvider.Provider.GetCurrent().UserName</option>
                    </select>
                </td>
                <th class="formTitle">加班轉補休</th>
                <td class="formValue">
                    <select id="FILFRL" name="FILFRL" class="form-control " disabled="disabled">
                        <option value="N">N</option>
                        <option value="Y">Y</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">出勤人員部門</th>
                <td class="formValue">
                    <select id="DEPID" name="DEPID" class="form-control " disabled="disabled">
                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptId">@CCM.Code.OperatorProvider.Provider.GetCurrent().DeptName</option>
                    </select>
                </td>
                <th class="formTitle">出勤人員</th>
                <td class="formValue">
                    <select id="EMPLYID" name="EMPLYID" class="form-control" disabled="disabled">
                        <option value="@CCM.Code.OperatorProvider.Provider.GetCurrent().UserCode">@CCM.Code.OperatorProvider.Provider.GetCurrent().UserName</option>
                    </select>
                </td>

            </tr>

            <tr>
                <th class="formTitle">加班時間-起</th>
                <td class="formValue">
                    <input id="FETB" name="FETB" type="text" class="form-control input-wdatepicker " disabled="disabled"
                           onfocus="WdatePicker({ startDate: '%y-%M-%d %H:%m', dateFmt: 'yyyy-MM-dd HH:mm', alwaysUseStartDate: true, hmsMenuCfg: { H: [1, 6], m: [30, 6] }, qsEnabled: true, quickSel: ['%y-%M-%d 17:00', '%y-%M-%d 18:00', '%y-%M-%d 19:00', '%y-%M-%d 20:00', '%y-%M-%d 21:00', '%y-%M-%d 22:00'], lang: 'zh-tw' })" placeholder="請選擇開始時間" />
                </td>
                <th class="formTitle">加班時間-迄</th>
                <td class="formValue">
                    <input id="FETE" name="FETE" type="text" class="form-control input-wdatepicker" disabled="disabled"
                           onfocus="WdatePicker({ startDate: '%y-%M-%d %H:%m', dateFmt: 'yyyy-MM-dd HH:mm', alwaysUseStartDate: true, hmsMenuCfg:{H: [1, 6], m: [30, 6]},qsEnabled: true, quickSel: ['%y-%M-%d 18:00', '%y-%M-%d 19:00', '%y-%M-%d 20:00', '%y-%M-%d 21:00', '%y-%M-%d 22:00', '%y-%M-%d 23:00'], lang: 'zh-tw' })" placeholder="請選擇結束時間" />
                </td>
                <th class="formTitle">加班別</th>
                <td class="formValue">
                    <select id="OTTP" name="OTTP" class="form-control " disabled="disabled">
                        <option value="S">平日</option>
                        <option value="H">假日</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th class="formTitle">預計加班時數</th>
                <td class="formValue">
                    <input id="DEMIN" name="DEMIN" type="text" class="form-control " disabled="disabled" />
                </td>
                <th class="formTitle">實際加班時數</th>
                <td class="formValue">
                    <input id="REHRS" name="REHRS" type="text" class="form-control " disabled="disabled" />
                </td>
                <th class="formTitle">人資時數</th>
                <td class="formValue">
                    <input id="REHRS1" name="REHRS1" type="text" class="form-control " disabled="disabled" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">加班原因</th>
                <td class="formValue" colspan="5">
                    <textarea id="DEREASON" name="DEREASON" class="form-control " style="height: 40px;" disabled="disabled"></textarea>
                </td>

            </tr>
           
            <tr>
                <th class="formTitle">簽核途程</th>
                <td colspan="5" style="background-color:paleturquoise">
                    <table id="grid-signroute" class="table table-condensed table-hover table-striped">
                        <thead>
                            <tr>
                                <th data-column-id="SITEID" data-width="7%">站點</th>
                                <th data-column-id="DEPTNM" data-width="15%">簽核者部門</th>
                                <th data-column-id="EMPLYNM" data-width="15%">簽核者名稱</th>
                                <th data-column-id="SIGN_STATUS" data-width="10%">簽核</th>
                                <th data-column-id="SIGNDATE" data-width="15%">簽核日</th>
                                <th data-column-id="REPLY" data-width="20%">批示</th>
                            </tr>
                        </thead>
                    </table>
                </td>
            </tr>
           
        </table>
    </div>
</form>



